login {

    .container{
        
        max-width: 500px;
        margin: 0 auto;
        background-color: transparent;
    }
    
    /* <<<<<<<< Inputs >>>>>>>> */
    .item-md{
        
        color:black;
        background-color: transparent;
    }
}
